# always-auth=true
# registry=http://192.168.13.252/repository/node-registry2
# //192.168.13.252/repository/:_auth="dXNlcjp1c2Vy"

# //192.168.13.252/repository/node-registry2/:_authToken=NpmToken.8f1ecbf4-c0b3-37b4-b337-d14f2340f5ed
